<script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAASuQu2CS4gyV_0PBMtAhQmxTq2hRdhlyrxqNJP-kbJ_LGz2xTAhQmIySyY5okdypVbzAsga6vQ_niZw" type="text/javascript"></script>
<%= javascript_include_tag 'courseDetails'%>
<%= javascript_include_tag 'gmapuploader'%>
<%= javascript_include_tag 'mediummap'%>
<div id="singlewrapper">
    <div id="addtoschedule2"><a href=""><img src="addtoschedule.gif" /></a></div>
    <div class="breadcrumbs"><%= bread_crumbs @course, false %></div>
    
    <div class="classschedule">
        <%= generate_schedule(@course.rendezvous, :by_hour=>true, :show_text_schedule=>false) %>
        <% if(!(@quiz_sections.nil?)) %>
            <% for q_section in @quiz_sections %>
                <div style="visibility:hidden; margin-top:-455px;" class="classschedule" id="<%= q_section.id %>"><%= generate_schedule(q_section.rendezvous, :by_hour=>true, :show_text_schedule=>false) %></div>
            <% end %>
            <% if(@quiz_sections.length > 0) %>
                <script type="text/javascript">var selectedQuizSection = "<%= @quiz_sections[0].id %>";</script>
            <% end %>
        <% end %>
        <% if(!(@labs.nil?)) %>
            <% for lab in @labs %>
               <div style="visibility:hidden; margin-top:-467px;" class="classschedule" id="<%= lab.id %>"><%= generate_schedule(lab.rendezvous, :by_hour=>true, :show_text_schedule=>false) %></div> 
            <% end %>
            <% if(@labs.length > 0) %>
                <script type="text/javascript">var selectedLab = "<%= @labs[0].id %>";</script>
            <% end %>
        <% end %>
        <div class="classtime2">
            <div class="lecture">
                <p><strong>Lecture:</strong><br>
                    <% for rende in @course.rendezvous %>
                        <% s = Rendezvous.time_string(rende) %>
                        <% s << " <a href=\"" + url_for(:controller=>"buildings", :only_path=>false, :action=>"map", :id=>rende.building_id) + "\">#{Building.find(rende.building_id).abbrev}</a> #{rende.room}" %>
                        <%= @course.section + ": " + s %><br>
                    <% end %>
                </p>
            </div>
            <% if(@quiz_sections.length > 0) %>
                <p><strong>Quiz Sections:</strong><br>
                <% for q_section in @quiz_sections %>
                    <% rende = q_section.rendezvous[0] %>
                    <% s = q_section.section + ": " + Rendezvous.time_string(rende) %>
                    <% s << " <a href=\"" + url_for(:controller=>"buildings", :only_path=>false, :action=>"map", :id=>"#{rende.building_id}") + "\">#{Building.find(rende.building_id).abbrev}</a> #{rende.room}" %>
                    <input type="radio" name="quiz_sections" value="<%= q_section.id %>" onchange="document.getElementById(selectedQuizSection).style.visibility = 'hidden'; document.getElementById(this.value).style.visibility = 'visible'; selectedQuizSection = this.value;"> <%= s %><br>
                <% end %>
                </p>
            <% end %>
            <% if(@labs.length > 0) %>
                <p><strong>Labs:</strong><br>
                <% for lab in @labs %>
                    <% rende = lab.rendezvous[0] %>
                    <% s = lab.section + ": " + Rendezvous.time_string(rende) %>
                    <% s << " <a href=\"" + url_for(:controller=>"buildings", :only_path=>false, :action=>"map", :id=>rende.building_id) + "\">#{Building.find(rende.building_id).abbrev}</a> #{rende.room}" %>
                    <input type="radio" name="labs" value="<%= lab.id %>" onchange="document.getElementById(selectedLab).style.visibility = 'hidden'; document.getElementById(this.value).style.visibility = 'visible'; selectedLab = this.value;"> <%= s %><br>
                <% end %>
                </p>
            <% end %>
            <% if(!(@other_lectures.nil?) && @other_lectures.length > 0 ) %>
                <p>
                    <strong>Other Lectures:</strong><br>
                    <% for lecture in @other_lectures %>
                        <% s = Rendezvous.time_string(lecture.rendezvous[0])  %> 
                        <a href="<%= url_for(:controller=>'courses', :action=>false, :action=>'index', :id=>lecture.id) %>"><%= lecture.section %></a>: <%= s %><br>
                    <% end %>
                </p>
            <% end %>
        </div>
    </div>
    <div id="titleabovetabbedwindow"><%= "#{@course.name} #{@course.section}: #{@course.title}" %></div>
    <div id="tabs">
        <ul>
            <li class="tabme" id="overviewtab"><a href="javascript:showTab(0);">Overview</a></li>
            <li class="normtab" id="classreviewstab"><a href="javascript:showTab(1);">Class Reviews</a></li>
            <li class="normtab" id="teacherreviewstab"><a href="javascript:showTab(2);">Teacher Reviews</a></li>
            <li class="normtab" id="maptab"><a href="javascript:showTab(3);">Map</a></li>
        </ul>
    </div>
    <div id="tabbedwindow">
        <noscript>Javascript must be enabled to utilize this page</noscript>
        <div id="overview">
            <strong>SLN: </strong><%= @course.sln.to_s %><br>
            <strong>Section: </strong><%= @course.section %><br>
            <strong>Status: </strong><%= Course::STATUS_STRINGS[@course.status] %><br>
            <% types = "" %>
            <% for type in @course.credit_type %>
                <% types << Course::CREDITTYPES[type][0] + ", " %>
            <% end %>
            <strong>Credit type: </strong><%= types[0,types.length-2] %> (<a class="info">key<span><%= Course::CREDITTYPES_TOOLTIP %></span></a>)<br>
            <p><strong>Description: </strong><%= @course.description %></p>
            <% if(@course.notes.length > 0) %>
                <p><strong>Notes: </strong><%= @course.notes %></p>
            <% end %>
            <% if(!(@course.additional_info.nil?)) %>
                <% ai = "" %>
                <% for info in @course.additional_info %>
                    <% ai << Course::ADDITIONALINFOS[info][0] + ", " %>
                <% end %>
                <p><strong>Additional info: </strong><%= ai[0,ai.length-2] %> (<a class="info">key<span><%= Course::ADDITIONALINFO_TOOLTIP %></span></a>)</p>
                <% if(!(@joint_offerings.nil?) && @joint_offerings.length > 0) %>
                    <p>
                        <strong>Joint offerings:</strong>
                    <% for offering in @joint_offerings %>
                        <% s = Rendezvous.time_string(offering.rendezvous[0])  %> 
                        <a href="<%= url_for(:controller=>'courses', :action=>false, :action=>'index', :id=>offering.id) %>"><%= offering.name + " " + offering.section %></a>: <%= s %><br>
                    <% end %>
                    </p>
                <% end %>
            <% end %>
            <p><strong>Instructor: </strong><%= (@course.teacher.nil?)? "Unknown" : link_to(@course.teacher.name, :controller=>"teachers", :action=>"index", :id=>@course.teacher.id) %></p>
            <br>
            <%= generate_enrollment_image(@course) %>      
            <%= generate_credits_image(@course) %>
        </div><!--overview-->
        <div id="classReviews">
            <strong>Review Summary: </strong><%= @course_reviews.length %> total reviews
            <% if(@course_reviews.length > 0) %>
                (<%= link_to("read all", :controller=>'course_reviews', :action=>'index', :id=>@course.id) %>, <%= link_to("write a review", :controller=>'course_reviews', :action=>'new', :id=>@course.id) %>)
                <%= review_percent_table(@course_reviews, @course.total_ratings) %> 
                <% for review in @course_reviews %>
                    <hr /><%= formatted_course_review(review, @course) %>
                <% end %>  
            <% else %>
                (<%= link_to("write a review", :controller=>'course_reviews', :action=>'new', :id=>@course.id) %>)
            <% end %>
        </div><!--classReviews-->
        <div id="teacherReviews">
            <strong>Name: </strong><%= link_to(@course.teacher.name, :controller=>"teachers", :action=>"index", :id=>@course.teacher.id) %><br>
            <P>Review Summary: </strong><%= @teacher_reviews.length %> total reviews
            <% if(!(@teacher_reviews.nil?) && @teacher_reviews.length > 0) %>
                (<a href="#">read all</a>, <a href="<%= '#' %>">write a review</a>)
                <% for review in @teacher_reviews %>
                    <hr /><%= formatted_teacher_review(review) %>
                <% end %>
            <% else %>
                (<a href="<%= '#' %>">write a review</a>)
            <% end %>
        </div><!--teacherReviews-->
        <div id="mediumMapArea">
            <% s = "" %>
            <% for rende in @course.rendezvous %>
                <% building = Building.find(rende.building_id) %>
                <% s << "<a href=\"javascript:openMarker('#{building.abbrev}');\" style=\"text-decoration:none;\">#{building.abbrev}</a>, " %>
            <% end %>
            <strong>Lecture meets in: </strong><%= s[0,s.length-2] %><br><br>
            <div id="mediumMap"></div>
        </div>
    </div><!--tabbedwindow-->
</div><!--singlewrapper-->
<script type="text/javascript">initMediumMap("<%= url_for(:controller=>"/", :only_path=>false) %>"<%= @course.buildings_parameters %>); initCD();</script>