<div id="apDiv3">
    <table width="955" height="300" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="160" valign="top">
            <table width="160" border="0" cellpadding="3" cellspacing="0" bgcolor="#DED1ED">
                <tr>
                    <td bgcolor="#412164">
                        <% if(@category!=nil) %>
                            <b><font color="#ffffff"><%= @category.name %></font></b>
                        <% end %>
                    </td>
                </tr>
                <% if(@category!=nil) %>
                  <% for child in @category.children %>
                    <tr>
                        <td>
                            <%= link_to child.name, :controller=>"categories", :action=>"index", :id=>child.id %>
                        </td>
                    </tr>
                  <% end %>
                <% end %>
            </table>
        </td>
        <td width="768" align="left" valign="top" >
          <div align="left">
            <table width="100%" height="181" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td height="18" align="left" valign="top">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                           <%= link_to "Home" %>
                    	   <% while (parent = @familypath.pop)!=nil %>
                    	       > <%= link_to parent.name, :controller=>"categories", :action=>"index", :id=>parent.id %>
                    	   <% end %>
                    	</td>
                    </tr>
                    <tr>
					    <td align="right">
					       put page numbers here
					    </td>
			  		</tr>
                    <tr>
                    	<td align="right">
                    	   <input name="textsearchwithin" type="text" id="textsearchwithin" value="Search Within">
                           <select name="classperpage" id="classperpage">
                        	  <option selected>Best Class Rating</option>
                        	  <option>Best Teacher Rating</option>
                        	  <option>Number of Credits</option>
                        	  <option>Credit Type</option>
                        	  <option>Earliest</option>
                        	  <option>Latest</option>
                   	       </select>
                           <select onChange="onPerPageChange(this.options[this.selectedIndex].value,<?php echo($startclass);?>);" name="sortby" id="sortby">
                        	  <option value="5" <?php if($classesperpage==5)echo("selected"); ?>>5</option>
                        	  <option value="10" <?php if($classesperpage==10)echo("selected");?>>10</option>
                        	  <option value="20" <?php if($classesperpage==20)echo("selected");?>>20</option>
                              <option value="50" <?php if($classesperpage==50)echo("selected");?>>50</option>
                           </select>                       	
                        </td>
                    </tr>
                  </table>
            	</tr>
              <tr>
                <td height="118" align="left" valign="top">
                  <table width="100%" border="1" cellpadding="10" cellspacing="0" bordercolor="#CCCCCC" FRAME=VOID RULES=ALL>
                    <% for course in @courses %>
                        <tr>
                            <td align='left' bgcolor='#FFFFFF'>
                                <table border='0' cellpadding='3' cellspacing='0'>
    							<tr height='1'>
    								<td rowspan='6' width = '1' align='left'><%= mini_schedule(@test_schedule) %></td>
    								<td colspan = '3' align='left' valign='top'><%= link_to "#{course.deptabriev} #{course.number}: #{course.title}", {:controller=>"courses", :action=>"index", :id=>course.id}, {:class=>"newlink"} %></td>
    							</tr>
    							<tr height='1'>
    								<td align='left' valign='center'><%= star_ratings(course.rating) %>&nbsp;(&nbsp;<%= link_to course.total_ratings, :controller=>"courseratings", :action=>"index", :id=>course.id %>&nbsp;)</td>
    								<td align='left' valign='top'><img src='/images/credits/<%= course.credits %>.jpg' height='47' width='50'/></td>
    								<td  align='left' valign='top'><%= "#{course.students_enrolled}/#{course.enrollment_space}" %></td>
    							</tr>
    							<tr>
    								<td align='left' valign='top' colspan='3'><%= course.description %></td>
    							</tr>
    							<tr>
    								<td colspan='2' align='left' valign='top'><table><tr><td><% if(course.teacher.current_photo_location!=nil) %><%= image_tag course.teacher.current_photo_location, :height=>"48px" %><% else %><img src='/images/teachers/default.png'/><% end %></td><td align='left' valign='top'><%= course.teacher.name %></td></tr></table></td>
    								
    							</tr>
    							<tr><td><%= course.category.name %></td></tr>
    							</table>
                            </td>
                        </tr>
                    <% end %>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td width="27" valign="top">&nbsp;</td>
      </tr>
    </table>
</div>