<%= javascript_include_tag 'tabControl'%>
<script>
    attribute_count = 0;
    current_teacher_info_index = 0;
    
    function set_attribute_count(count) {
        //if(count > attribute_count)
            attribute_count = count;
    }
    
    function set_teacher_info_index(index) {
        current_teacher_info_index = index;
    }
    
</script>
<div id="singlewrapper">
    <div class="breadcrumbs">breadcrumbs</div>
    <div class="classschedule">    
        <% runners_up = @teacher.runners_up_photo_locations %>
        <% tmp = @teacher.current_photo_location({:long_location=>true, :all_info=>true}) %>
            <% if(logged_in?) 
                curr_user_vote_is_best = (@teacher.user_vote_map!=nil && @teacher.user_vote_map[current_user.id]!=nil && @teacher.user_vote_map[current_user.id] == tmp[0])
               end %>
            <div style="float:left;width:300px;height:300px;"><%= votable_image( tmp[0], tmp[1], @teacher.total_photo_votes, ((logged_in? && !curr_user_vote_is_best)? url_for(:controller=>'teachers', :action=>'vote', :id=>@teacher.id, :location=>tmp[0], :next_page=>{:controller=>"teachers", :action=>"index", :id=>@teacher.id}) : nil), current_user, {:max_width=>300, :max_height=>300}) %></div>
            <div style=""><% if(logged_in? && !current_user.tmp_user && @teacher.user_vote_map!=nil && @teacher.user_vote_map[current_user.id]!=nil) %>
                        <% if(curr_user_vote_is_best) %>
                            <div  style="float:left;width:300px;margin-top:4px;">You voted for the current best photo</div>
                        <% else %>
                            <% tmp = @teacher.user_vote_photo_location(current_user, {:long_location=>true, :all_info=>true})%>
                            <% runners_up.delete(tmp) %>
                            <div style="float:left;width:300px;margin-top:4px;">You voted for:</div><div style="margin-top:2px;float:left;width:150px;height:150px;"><%= votable_image(tmp[0],tmp[1], @teacher.total_photo_votes, nil, current_user, {:max_height=>150, :max_width=>150}) %></div>
                        <% end %>
                 <% else %>
                    <% if(tmp[0]!=Teacher::DEFAULT_IMAGE_LOCATION && tmp[0] != 'public/images/'+Teacher::DEFAULT_IMAGE_LOCATION) %>You have not voted for a photo yet.<% else %>No photos have been uploaded for this teacher yet.<% end %><% if(!logged_in? || current_user.tmp_user) %><br/> To vote or upload photos, first <%= link_to "Login", :controller=>"login", :action=>"login" %> or <%= link_to "Signup", :controller=>"login", :action=>"signup" %><% end %>
                 <% end %>
            </div>
            <% if(logged_in? && !current_user.tmp_user) %>
                <div style="clear:left;"></div>
                <div id="upload_photo_form" style="">
                    <%= form_tag({:controller=>'teachers', :action => 'all_photos', :id=>@teacher.id}, :multipart => true, :id=>"photo_form") %>
                        <a id="show_photo_upload_link" href="javascript:show_photo_upload();">Upload new photo</a>
                        <%= file_field 'upload', 'datafile', :onchange=>"if(this.value!='' && this.value!=undefined){ $('photo_form').submit(); }", :style=>"margin-left:-120px;opacity:0.0;cursor:pointer;" %>
                    </form>
                </div>
            <% end %>
            <% if runners_up!=nil && runners_up.length>0 %>
                <div id="runners_up" style="margin-top:4px;"><span class="runners_up_header">Runners Up</span>
                <span id="photo_page_links" class="normal_span" style="margin-left:30px;">
                <% photo_page = 1 %>
                <% ((runners_up.length/9.to_f).ceil).times{ %>
                    <a id="photo_page_link_<%= photo_page %>" <%= (photo_page==1)? "class='curr_page'" : ""%> href="javascript:switch_photo_page(<%= photo_page %>);"><%= photo_page %></a>
                    <% photo_page = photo_page + 1 %>
                <% } %>
                </span>
                <br/>
                    <% photo_num = 0 %>
                    <% for photolocation in runners_up %>
                        <% if(photo_num%9==0) %>
                            <% if(photo_num!=0) %>
                             </div>
                             <div id="photo_page_<%= photo_num/9 %>" class="photo_page" style="display:none;">
                            <% else %>
                             <div id="photo_page_0" class="photo_page">
                            <% end %>
                        <% end %>
                        <div style="float:left;width:80px;height:80px;margin-right:8px;margin-bottom:8px;"><%= votable_image(photolocation[0] ,photolocation[1], @teacher.total_photo_votes, ((logged_in?)? url_for(:controller=>'teachers', :action=>'vote', :id=>@teacher.id, :location=>photolocation[0], :next_page=>{:controller=>"teachers", :action=>"index", :id=>@teacher.id}) : nil), current_user, {:max_height=>80, :max_width=>80}) %></div>
                        <% photo_num = photo_num + 1 %>
                        <% if(runners_up.size <= photo_num) %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
            
    </div><!-- classschedule -->
                
    <div id="tabs">
        <ul>
            <li class="tabme" id="overview_tab"><a href="javascript:showTab('overview');">Overview</a></li>
            <li class="normtab" id="teacherReviews_tab"><a href="javascript:showTab('teacherReviews');">Teacher Reviews</a></li>
        </ul>
    </div><!-- tabs -->
    
    <div id="tabbedwindow" style="">
        <div id = "overview">
            <div id="confirmed_info">
                <div class="teacher_info_header">Confirmed Information</div>
                <div class="teacher_info">Name:<%= @teacher.name %></diV>
            </div>
            <br/>
            <div id="user_supp_info_<%= @teacher.id %>" class="user_supp_info">
                <%= render :partial => "teachers/user_supplied_info", :locals => {:info=>@teacher_info, :teacher=>@teacher, :teacher_info_index=>@teacher_info_index, :curr_user=>current_user}%>
            </div>
            <br/>
            <div>
                <div class="teacher_info_header">Courses Taught</div>
                <div class="teacher_info">
                    Future<br/>
                    <% future_courses = @teacher.courses_future(Time.now.year, Quarter::CURRENT) %>
                    <% for course in future_courses %>
                        &nbsp&nbsp <%= link_to "#{course.name}: #{Quarter.quarter_disp_name(course.quarter_id)}, #{course.year}", :controller=>"courses", :action=>"index", :id=>course.id %><br/>
                    <% end %>
                    <% if future_courses.size == 0 %>
                        &nbsp&nbsp None Known Yet<br/>
                    <% end %>
                    Present<br />
                    <% present_courses = @teacher.courses_present(Time.now.year, Quarter::CURRENT) %>
                    <% for course in present_courses %>
                        &nbsp&nbsp <%= link_to course.name, :controller=>"courses", :action=>"index", :id=>course.id %><br/>
                    <% end %>
                    <% if(present_courses.size == 0) %>
                        &nbsp&nbsp None Known<br/>
                    <% end %>
                    Past<br/>
                    <% past_courses = @teacher.courses_past(Time.now.year, Quarter::CURRENT) %>
                    <% for course in past_courses %>
                        &nbsp&nbsp <%= link_to "#{course.name}: #{Quarter.quarter_disp_name(course.quarter_id)}, #{course.year}", :controller=>"courses", :action=>"index", :id=>course.id %><br/>
                    <% end %>
                    <% if past_courses.size == 0 %>
                        &nbsp&nbsp None Known<br/>
                    <% end %>
                </div>
            </div>
        </div><!-- overview -->
        <div id="teacherReviews" style="display:none;">
            teacher Reviews should be here.
        </div><!-- teacherReviews -->
    </div><!-- tabbedWindow -->
</div><!-- singlewrapper -->
<script type="text/javascript">
    
    initializeTabs("overview","teacherReviews");
    
    function show_photo_upload() {
        $("show_photo_upload_link").hide();
        $("upload_photo_form").show();
    }
    
    function hide_photo_upload() {
        $("upload_photo_form").hide();
        $("show_photo_upload_link").show();
    }
    
    current_photo_page = 1;
    
    function switch_photo_page(new_page) {
        if(current_photo_page!=new_page){
            $("photo_page_link_"+current_photo_page).setAttribute("class", "");
            $("photo_page_link_"+new_page).setAttribute("class", "curr_page");
            $("photo_page_"+(current_photo_page-1)).hide();
            $("photo_page_"+(new_page-1)).show();
            current_photo_page = new_page;
        }
    }
    
    function trim(str) {
    	var	str = str.replace(/^\s\s*/, ''),
    		ws = /\s/,
    		i = str.length;
    	while (ws.test(str.charAt(--i)));
    	return str.slice(0, i + 1);
    }
    
    function fix_attribute_additions() {
        //alert("here "+attribute_count);
        for(var i = 0; i<attribute_count; i++){
            attribute = document.getElementById("teacher_info_"+i);
            attribute_name = document.getElementById("attribute_name_"+i);
            //alert("trimmed "+trim(attribute.value));
            if(attribute.value!="Attribute Value" && trim(attribute.value)!="" && attribute_name.value!="Attribute Name" && trim(attribute_name.value)!=""){
                //alert("hello"+attribute_name.value);
                //adjusted_attri_name = attribute_name.value.replace(" ", "_");;
                attribute.name = "teacher_info[other]["+attribute_name.value+"]";
            }
        }
    }
    
    function check_attribute_text_focus(attribute_id, default_string) {
        if($(attribute_id).value == default_string){
            $(attribute_id).value = "";
            $(attribute_id).style.color = "black";
        }
    }
    
    function check_attribute_text_blur(attribute_id, default_string) {
        if($(attribute_id).value == ""){
            $(attribute_id).style.color = "lightgray";
            $(attribute_id).value = default_string;
        }
    }
    
    function add_attribute(add_to) {
        //var attribute_str = </td><td></td>";
        var row = document.createElement("tr");
        row.id = "attribute_row_"+attribute_count;
        
        var name_col = document.createElement("td");
        name_col.class = "attr_name";
        name_col.innerHTML = "<span id='attribute_name_label_"+attribute_count+"' style='display:none;'></span><%= text_field_tag("attribute_name_\"+attribute_count+\"", "Attribute Name", {:title=>"Attribute Name",:style=>"color:lightgray", :onfocus=>"check_attribute_text_focus(\\\"attribute_name_\"+attribute_count+\"\\\", \\\"Attribute Name\\\");", :onblur=>"check_attribute_text_blur(\\\"attribute_name_\"+attribute_count+\"\\\", \\\"Attribute Name\\\");"}).gsub("\"", "'").gsub("&quot;", "\"") %>";
        row.appendChild(name_col);
        
        var attr_col = document.createElement("td");
        attr_col.class = "attr";
        attr_col.style.width = "200px";
        attr_col.innerHTML = "<span id='attr_"+attribute_count+"' style='display:none;'></span><%= text_field_tag("teacher_info_\"+attribute_count+\"", "Attribute Value", {:title=>"Attribute Value", :size=>"30", :style=>"color:lightgray;width:200px;", :onfocus=>"check_attribute_text_focus(\\\"teacher_info_\"+attribute_count+\"\\\", \\\"Attribute Value\\\");", :onblur=>"check_attribute_text_blur(\\\"teacher_info_\"+attribute_count+\"\\\", \\\"Attribute Value\\\");"}).gsub("\"", "'").gsub("&quot;", "\"") %>";
        row.appendChild(attr_col);
        
        var remove_col = document.createElement("td");
        remove_col.innerHTML = "<a id='remove_attr_"+attribute_count+"' href='javascript:remove_attribute(\"attribute_row_"+attribute_count+"\");' class='control_btn' style=''>Remove</a>";
        row.appendChild(remove_col);
        
        //row.innerHTML = attribute_str;
        //$(add_to).innerHTML = $(add_to).innerHTML + attribute_str;
        var tabBody=$(add_to).getElementsByTagName("TBODY").item(0);
        tabBody.appendChild(row);
        attribute_count = attribute_count + 1;
    }
    
    function remove_attribute(to_remove) {
        //alert(to_remove);
        //$(remove_from).removeChild($(to_remove));
        $(to_remove).parentNode.removeChild($(to_remove));
        attribute_count = attribute_count - 1;
    }
    
    function edit_attributes() {
        $("add_attribute_btn").show();
        $("submit_btn").show();
    
        $("attr_row_sex").show();
        $("attr_gender").hide();
        $("teacher_info_sex").show();
        $("attr_row_dept").show();
        $("attr_dept").hide();
        $("teacher_info_department").show();
        $("attr_row_office").show();
        $("attr_office").hide();
        $("teacher_info_office").show();
        $("attr_row_email").show();
        $("attr_email").hide();
        $("teacher_info_email").show();
        $("attr_row_website").show();
        $("attr_website").hide();
        $("teacher_info_website").show();
        //alert("attr_count "+attribute_count);
        for(var i = 0; i < attribute_count; i++){
            //alert("attribute_name_label_"+i);
            var text_span = $("attribute_name_label_"+i);
            var text = text_span.innerHTML;
            text = text.substring(0, text.length-1);
            text_span.hide();
            var text_field = $("attribute_name_"+i);
            text_field.value = text;
            text_field.show();
            
            text_span = $("attr_"+i);
            text = text_span.innerHTML;
            text_span.hide();
            text_field = $("teacher_info_"+i);
            text_field.value = text;
            text_field.show();
            
            $("remove_attr_"+i).show();
        }
        
        $("edit_btn").innerHTML = "Cancel";
        $("edit_btn").href = "javascript:cancel_edit_attributes();";
    }
    
    function cancel_edit_attributes() {
        <%= remote_function(:update=>"user_supp_info_#{@teacher.id}", :url=>{:controller=>"teachers", :action=>"index", :id=>@teacher.id, :render=>"user_supplied_info", :teacher_info_index=>"'+current_teacher_info_index+'"}, :condition=>"navigation_allowed", :loading=>"prepare_for_navigation();", :complete=>"recover_from_navigation();").gsub("%27", "'").gsub("%2B", "+") %>
    }
    
    navigation_allowed = true;
    
    function prepare_for_navigation(right) {
        if(right==null || right==undefined){
            right = true;
        }
        navigation_allowed = false;
        to_disable = new Array("prev_btn", "next_btn", "edit_btn", "delete_btn", "confirm_btn", "add_attribute_btn", "teacher_info_submit", "cancel_btn");
        for(var i = 0; i < attribute_count; i++){
            if($("attribute_name_"+i)){
               $("attribute_name_"+i).disabled = true; 
            }
            if($("teacher_info_"+i)){
                $("teacher_info_"+i).disabled = true;
            }
            if($("remove_attr_"+i)){
                to_disable.push("remove_attr_"+i);
            }
        }
        for(var i = 0; i < to_disable.length; i++){
            var tmp_id_str = to_disable[i];
            if($(tmp_id_str)){
                $(tmp_id_str).style.backgroundColor = "#999999";
                $(tmp_id_str).style.color = "#cccccc";
                $(tmp_id_str).style.cursor = "default";
            }
        }
        $("teacher_info_sex").disabled = true;
        $("teacher_info_department").disabled = true;
        $("teacher_info_office").disabled = true;
        $("teacher_info_email").disabled = true;
        $("teacher_info_website").disabled = true;
        new Effect.Parallel([
          new Effect.Move('curr_user_supp_info_<%= @teacher.id %>', { sync: true, x: ((right)? -200 : 200), y: 0, mode: 'relative' }), 
          new Effect.Opacity('curr_user_supp_info_<%= @teacher.id %>', { sync: true, from: 1, to: 0 }) 
        ], { 
          duration: 0.8,
          delay: 0.5
        });
    }
    
    function recover_from_navigation() {
        navigation_allowed = true;
    }
    
    
</script>
