<script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAASuQu2CS4gyV_0PBMtAhQmxTq2hRdhlyrxqNJP-kbJ_LGz2xTAhQmIySyY5okdypVbzAsga6vQ_niZw" type="text/javascript"></script>
<%= javascript_include_tag 'gmapuploader'%>
<%= javascript_include_tag 'map'%>
<%= javascript_include_tag 'Geometry' %>

<div id="wrapper"> 
    <div id="side">
        <select size="2" id="mapmenu" onchange="processSideIndexChanged(this.options[this.selectedIndex].value);">
            <% for building in @buildings %>
                <option title='<%="#{building.name}"%>' value='<%="#{building.abbrev}"%>'><%= "#{truncate("#{building.abbrev} - #{building.name}", 28)}" %></option>
            <% end %>
        </select>
    </div><!-- side -->
    <div class="content" id="content">
        <div class="breadcrumbs" id="crumbs" style="width: 400px; float: left;"><a href="index.html">Home</a> > <a href="#" onclick="processReturnToMap();">Map</a></div>
        <div class="searchmap" style="float: right; width: 330px; text-align: right;">Search Map: <input type="text" id="searchField" onKeyDown="if(event.keyCode==13) { searchFor(this.value, '<%= url_for(:controller=>'buildings', :only_path=>false, :action=>'search_results') %>'); }" /><input type="submit" style="width: 50px;" value="Find" onclick="searchFor(document.getElementById('searchField').value, '<%= url_for(:controller=>'buildings', :only_path=>false, :action=>'search_results') %>');"/></div>
      
        <div id="map"><noscript>Javascript is required to view our campus map. Please enable Javascript in your browser and try again.</noscript></div>
        <!--<input id="showstreetview" type="submit" style="width:90px;" value="Streetview" onclick="showStreetview();" />
        <input id="streetviewdata" type="submit" style="width:90px;" value="Data" onclick="streetviewData();" />-->
        <div id="streetview"></div>
        <div id="searchResults"></div>
    </div> <!-- content -->
    <script type="text/javascript">initialize(<%= ((@show_building!=nil)? "\"#{@show_building.abbrev}\"" : "\"\"") %>, "<%= url_for(:controller=>"/", :only_path=>false) %>");</script>
</div><!--wrapper-->