<div>breadcrumbs</div>
<div>
    <table>
        <tr>    <% runners_up = @teacher.runners_up_photo_locations %>
            <td><% tmp = @teacher.current_photo_location({:long_location=>true, :all_info=>true}) %>
                <% if(logged_in?) 
                    curr_user_vote_is_best = (@teacher.user_vote_map!=nil && @teacher.user_vote_map[current_user.id]!=nil && @teacher.user_vote_map[current_user.id] == tmp[0])
                   end %>
                <div><%= votable_image( tmp[0], tmp[1], @teacher.total_photo_votes, ((logged_in? && !curr_user_vote_is_best)? url_for(:controller=>'teachers', :action=>'vote', :id=>@teacher.id, :location=>tmp[0], :next_page=>{:controller=>"teachers", :action=>"index", :id=>@teacher.id}) : nil), {:max_width=>300, :max_height=>300}) %></div>
                <div><% if(logged_in? && @teacher.user_vote_map!=nil && @teacher.user_vote_map[current_user.id]!=nil) %>
                            <% if(curr_user_vote_is_best) %>
                                You voted for the current best photo
                            <% else %>
                                <% tmp = @teacher.user_vote_photo_location(current_user, {:long_location=>true, :all_info=>true})%>
                                <% runners_up.delete(tmp) %>
                                You voted for:<%= votable_image(tmp[0],tmp[1], @teacher.total_photo_votes, nil, {:max_height=>80}) %>
                            <% end %>
                     <% else %>
                            You have not voted for one of these yet.<% if(!logged_in?) %> To vote, first <%= link_to "Login Here", :controller=>"login", :action=>"login" %> or <%= link_to "Signup for a new account.", :controller=>"login", :action=>"signup" %><% end %>
                     <% end %>
                </div>
                <div>Runners Up<br/>
                        <% for photolocation in runners_up %>
                            <div style="float:left;"><%= votable_image(photolocation[0] ,photolocation[1], @teacher.total_photo_votes, ((logged_in?)? url_for(:controller=>'teachers', :action=>'vote', :id=>@teacher.id, :location=>photolocation[0], :next_page=>{:controller=>"teachers", :action=>"index", :id=>@teacher.id}) : nil), {:max_height=>80}) %></div>
                        <% end %>
                </div>
                <div style="clear:left;"></div>
                <div><%= link_to "upload new photo", :controller=>"teachers", :action=>"all_photos", :id=>@teacher.id %></div>
            </td>
            
            <td valign="top">
                <div>
                    Confirmed Information<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;Name:<%= @teacher.name %>
                </div>
                <div>
                    User Supplied Information<br/>
                    <div><a href="#"><</a> Provided by: nguard65 <a href="#">></a></div>
                </div>
                <div>
                    Courses Taught<br/>
                    Future<br/>
                        None Known Yet<br/>
                    Present
                        <% for course in @teacher.courses_present(2008, Course::QUARTER_AUTUMN) %>
                            <% link_to course.name, :controller=>"courses", :action=>"index", :id=>course.id %>
                        <% end %>
                    Past
                </div>
            </td>
        </tr>
    </table>

</div>