<div id="wrapper">
    <div id="side">
            <div style="padding-bottom:10px;">
                Possible Courses<br/>
                <a href="#" onclick="switch_bag('grab_bag')" style="display:inline-block">All</a><a style="display:inline-block; text-decoration:none;">&nbsp;|&nbsp;</a><a href="#" onclick="switch_bag('unsched')" style="display:inline-block">Unscheduled</a>
            </div>
            <div id="grab_bag">
            </div>
            <a href="#">View Trash</a>
    </div>
    <!--<div id="print_stuff"><a href="javascript:add_schedule(108, 'test'); alert($('tab_list').innerHTML);">check</a></div>-->
    <div id="tabs" class="scheduletabs">
        <ul id="tab_list">
            <% first = true %>
            <% for schedule in @schedules %>
                <li class="<%= ((first)? 'tabme' : 'normtab') %>" id="sched_b<%= schedule.id %>"><a id="sched_b_a_<%= schedule.id %>" href="javascript:switch_schedule(<%= schedule.id %>);"><%= ((schedule.name == nil || schedule.name=="")? "Unamed Schedule" : schedule.name) %></a></li>
                <% first = false %>
            <% end %>
            <li id="add_tab" class="addtab"><a class="addtab" href="javascript:create_schedule();">+</a></li>
        </ul>
    </div>
    <div id="tabbar">
        <%= text_field_tag "rename_tab", nil, {:style=>"margin-left:4px; margin-top:3px; width:200px;"} %>
        <%= link_to_remote "Rename Schedule", {:url=>{:controller=>"schedules", :action=>"save_schedules"}, :with=>"'ajax=true&schedules['+current_schedule+'][name]='+$('rename_tab').value", :success=>"$('sched_b'+current_schedule).down().innerHTML = $('rename_tab').value;", :failure=>"$('rename_tab').value = $('sched_b'+current_schedule).down().innerHTML;"}, {:id=>"rename_tab_b"}  %>
    </div>
    <div id="tabbedwindow">
        <div id="schedules" style="width:600px;float:left;background:#9999cc;">
            <div id="grid">
                <%= generate_schedule(nil, {:table_class=>"gridschedule", :show_times=>true, :show_days=>true, :show_text_schedule=>false}) %>
            </div>
            <% num_blocks = {} %>
            <% if @grab_bag != nil && @grab_bag.get_courses != nil %>
                <% i=0 %>
                <% for course in @grab_bag.get_courses %>
                    <div style="margin-top:-728px;">
                        <div style="visibility:hidden;" id="dragview_<%= course.id %>">
                            <%= generate_schedule(course.rendezvous, {:table_class=>"dragschedule", :show_times=>false, :show_days=>false, :show_text_schedule=>false, :color=>@grab_bag.get_color_for_course(course)}) %>
                        </div>
                    </div>
                    <% i+=1 %>
                <% end %>
                <% i=0 %>
                <% for course in @grab_bag.get_courses %>
                    <div id="<%= course.id %>" style="margin-top:-728px;">
                        <% tmp = generate_schedule(course.rendezvous, {:draggable_divs=>true, :table_class=>"dragschedule",:identify=>course.id, :show_times=>false, :show_days=>false, :show_text_schedule=>false, :display_text=>"<p class='drag_text'>#{course.name} #{course.section}</p><p class='drag_options'>QZ:<select><option>AA</option></select>  LAB:<select><option>AB</option></select></p>", :color=>@grab_bag.get_color_for_course(course)}) %>
                        <%= tmp[0] %>
                        <% num_blocks[course.id] = tmp[1] %>
                    </div>
                    <% i+=1 %>
                <% end %>
            <% end %>
        </div>
    </div>
    
</div>
<div style="float:left;" id="handle"></div>
<%= javascript_include_tag 'course' %>
<script type="text/javascript">
    
    revert_duration = 0.5;
    showing_grab_bag = false;
    current_schedule = <%= @schedules[0].id %>;
    
    all_unsched = new Hash();
    all_courses = new Hash();
    times_used = new Hash();
    
    all_schedules = new Hash();
    
    dependencies = new Hash();
    
    <% for key in @dependancies.keys %>
        tmp<%= key %> = new Hash();
        <% for key2 in @dependancies[key].keys %>
            <% if @dependancies[key][key2]==false %>
                tmp<%= key %>.set(<%= key2 %>, 'false');
            <% end %>
        <% end %>
        dependencies.set(<%= key %>, tmp<%= key %>);
    <% end %>
  
    <% if @grab_bag != nil && @grab_bag.get_courses != nil %>
        <% for course in @grab_bag.get_courses %>
            all_courses.set(<%= course.id %>, new Course({id: <%= course.id %>, sln: <%= course.sln %>, deptabbrev: "<%= course.deptabbrev %>", number: <%= course.number %>, section: "<%= course.section %>", color: "<%= @grab_bag.get_color_for_course(course) %>"}));
        <% end %>
    <% end %>
    
    <% for sched in @schedules %>
        all_schedules.set(<%= sched.id %>, new Hash());
        <% for course_id in sched.courses %>
                all_schedules.get(<%= sched.id %>).set( <%= course_id %>, all_courses.get(<%= course_id %>));
                all_unsched.set(<%= course_id %>, all_courses.get(<%= course.id %>));
                var t_used = times_used.get(<%= course_id %>);
                if(t_used == undefined)
                    t_used = 0;
                times_used.set(<%= course_id %>, t_used+1);
        <% end %>    
    <% end %>
    

  Droppables.add("grab_bag",{onDrop: function(element) {
                                                if(element.id.substring(0,8) == "dragview")
                                                    remove_from_schedule(current_schedule, parseInt(element.id.substr(9)));
                                            }});
  Droppables.add("schedules",{onDrop:   function(element) {
                                                ele = $("dragview_"+element.id.split("_")[1]);
                                                ele.style.visibility = "hidden";
                                                Element.removeClassName(ele, "dragscheduleHighlighted");
                                                
                                                revert_duration = 0;
                                                add_to_schedule(current_schedule, parseInt(element.id.substr(8)));
                                            },
                              onHover:  function(element, droppable, overlap) {
                                                    ele = $("dragview_"+element.id.split("_")[1]);
                                                    if(overlap==-1){
                                                        ele.style.visibility = "hidden";
                                                        Element.removeClassName(ele, "dragscheduleHighlighted");
                                                    }
                                                    else{
                                                        Element.addClassName(ele, "dragscheduleHighlighted");
                                                        ele.style.visibility = "visible";
                                                    }
                                            }              
                                            });
  
                                            
  <% keys = num_blocks.keys %>
  <% for key in keys %>
    <% arr = [] %>
    <% 0.upto(num_blocks[key]-1){|i| arr[i] = "#{key}_#{i}" }%>
    <% 0.upto(num_blocks[key]-1){|i| %>
        <%= "new Draggable(\"#{key}_#{i}\", {handle: 'handle', revert: 'true', ghosting: 'true'});" %>
    <% } %>
    <%= "new Draggable(\"dragview_#{key}\", {handle: #{arr.inspect}, revert: 'true', ghosting: 'true'});" %>
  <% end %>
  
  switch_bag("grab_bag");
  switch_schedule(current_schedule);
  adjust_schedule_tabs();
  set_up_sotable_tabs();
  
  function add_to_schedule(schedule_id, course_id){
    if(all_schedules.get(schedule_id) != undefined && all_courses.get(course_id) != undefined){
        if(all_schedules.get(schedule_id).get(course_id) == undefined){
            schedu = all_schedules.get(schedule_id);
            keys = schedu.keys();
            for(i=0;i<keys.length;i++){
                //alert(keys[i]);
                if(dependencies.get(course_id).get(keys[i])!=undefined){
                    alert("There is a conflict!");
                    return;
                }
            }
            schedu.set(course_id , all_courses.get(course_id));
            course = document.getElementById(course_id);
            course.style.visibility = "visible";
            dragview = document.getElementById("dragview_"+course_id);
            dragview.style.visibility = "visible";
            all_unsched.set(course_id, all_courses.get(course_id));
            var t_used = times_used.get(course_id);
            if(t_used == undefined)
                t_used = 0;
            times_used.set(course_id, t_used+1);
            if(!showing_grab_bag){
                var element = document.getElementById("unsched_"+course_id);
                element.parentNode.removeChild(element);
            }
        }
        else
            alert("course already part of this schedule!");
    }
    else {
        //alert("could not find schedule or course to make addition!("+schedule_id+" "+course_id+")");
    }
  }
  
  function remove_from_schedule(schedule_id, course_id){
    all_schedules.get(schedule_id).unset(course_id);
    course = document.getElementById(course_id);
    course.style.visibility = "hidden";
    dragview = document.getElementById("dragview_"+course_id);
    dragview.style.visibility = "hidden";
    var t_used = times_used.get(course_id);
    if(t_used != undefined && t_used>0)
        times_used.set(course_id, t_used-1);
    if(t_used-1 == 0){
        all_unsched.unset(course_id);
        if(!showing_grab_bag){
            generate_course_drag("unsched_"+course_id, all_courses.get(course_id), showing_grab_bag);
        }
    }
        
  }
  
  function generate_course_drag(id, course, show_grab_bag){
    tmp = document.createElement("div");
    tmp.setAttribute("id", id);
    tmp.setAttribute("class", "course_drag");
    tmp.innerHTML = "<p style='text-align:left; cursor:move;'><p style='cursor:move; background-color:#"+course.color+";'>"+course.display_name()+"</p><p style='font-size:0.7em; height:2px; cursor:move;'>sln: "+course.sln+"</p></p><p style='text-align:right'><a href='<%= url_for :controller=>"courses", :action=>"index", :id=>"" %>"+course.id+"' style='display:inline-block'>details</a>&nbsp;&nbsp;&nbsp;<a href='#' style='display:inline-block; padding-right:3px;'>remove</a></p>"
    document.getElementById("grab_bag").appendChild(tmp);
    if(show_grab_bag){
        new Draggable(id, {revert: 'true', ghosting: 'true', reverteffect: function(element, top_offset, left_offset){
                                                                                                   new Effect.MoveBy(element, -top_offset, -left_offset, {duration:revert_duration});
                                                                                                                revert_duration = 0.5;
                                                                                                        	  }});
    }
    else{
        new Draggable(id, {revert: 'failure'});
    }
  }
  
  function save_schedules() {
    ret = "ajax=true";
    keys = all_schedules.keys();
    for(i=0;i<keys.length;i++){
        var courses = all_schedules.get(keys[i]);
        if(courses!=undefined){
            course_keys = courses.keys();
            for(j=0;j<course_keys.length;j++){
                ret += "&schedules["+keys[i]+"][courses][]="+course_keys[j];
                ret += "&schedules["+keys[i]+"][name]="+$("sched_b"+keys[i]).down().innerHTML;
            }
        }
    }
    <%= remote_function(:url=>{:controller=>"schedules", :action=>"save_schedules"}, :with=>"ret") %>
  }
  
  function create_schedule(){
    <%= remote_function(:url=>{:controller=>"schedules", :action=>"new"}, :with=>("'ajax=true&schedule[user_id]="+current_user.id.to_s+"'"), :success=>"add_schedule_with_ajax(request)") %>
    
  }
  
  function set_up_sotable_tabs(){
    Sortable.create("tab_list", {overlap:"horizontal", constraint:"horizontal", only:["tabme", "normtab"], no_destroy:true});
  }
  
  function add_schedule_with_ajax(response){
    to_parse = response.responseText;
    //list = $("tabs").down();
    //list.innerHTML = list.innerHTML + "hello"+to_parse;
    to_parse_arr = to_parse.split(",");
    schedule_id = to_parse_arr[0];
    schedule_name = to_parse_arr[1];
    response_message = to_parse_arr[2];
    add_schedule(schedule_id, schedule_name);
  }
  
   
  
  function add_schedule(schedule_id, schedule_name){
    all_schedules.set(schedule_id, new Hash());
    
    Sortable.destroy("tab_list");
    list = $("tab_list");
    index = list.innerHTML.lastIndexOf("<li");
    add_button = list.innerHTML.substring(index);
    rest_of_list = list.innerHTML.substring(0, index);
    list.innerHTML = rest_of_list + "<li class='normtab' id='sched_b"+ schedule_id +"'><a id='sched_b_a_"+schedule_id+"' href='javascript:switch_schedule("+ schedule_id +");'>"+ schedule_name +"</a></li>" + add_button;
    switch_schedule(schedule_id);
    adjust_schedule_tabs();
    set_up_sotable_tabs();
  }
  
  function adjust_schedule_tabs(){
    max_width = 608-33; //-33 for width of add button
    keys = all_schedules.keys();
    if(keys.length>3){
        each_tab_width = (max_width/keys.length)-2; //the -2 is for the border of each tab
        for(i = 0; i< keys.length; i++){
            $("sched_b"+keys[i]).style.width = each_tab_width+"px";
            $("sched_b_a_"+keys[i]).style.width = (each_tab_width-4)+"px";
            $("sched_b_a_"+keys[i]).style.overflow = "hidden";
        }
    }
  }
  
  function switch_schedule(schedule_id){
    if(all_schedules.get(schedule_id) != undefined){
        scan = all_courses.values();
        for(i=0;i<scan.length;i++){
            course = document.getElementById(scan[i].id);
            course.style.visibility = "hidden";
            dragview = document.getElementById("dragview_"+scan[i].id);
            dragview.style.visibility = "hidden";
        }
        scan = all_schedules.get(schedule_id).values();
        for(i=0;i<scan.length;i++){
            course = document.getElementById(scan[i].id);
            course.style.visibility = "visible";
            dragview = document.getElementById("dragview_"+scan[i].id);
            dragview.style.visibility = "visible";
        }
        document.getElementById("sched_b"+current_schedule).className = "normtab";
        document.getElementById("sched_b"+schedule_id).className = "tabme";
        $("rename_tab").value = $("sched_b"+schedule_id).down().innerHTML;
        current_schedule = schedule_id;
        
    }
  }
  
  function switch_bag(bag){
    if(bag=="grab_bag" && !showing_grab_bag){
        //make all ids with course_course.id visible
        scan = all_courses.keys();
        for(i=0;i<scan.length;i++){
            var value = all_courses.get(scan[i]);
            generate_course_drag("courses_"+value.id, value, true);
            if(all_unsched.get(scan[i])==undefined){
                tmp = document.getElementById("unsched_"+value.id);
                if(tmp!=undefined)
                    tmp.parentNode.removeChild(tmp);
            }
            
        }
        //make all ids with unsched_course.id invisible
        /*scan = all_unsched.values();
        for(i=0;i<scan.length;i++){
            tmp = document.getElementById("unsched_"+scan[i].id);
            if(tmp!=undefined)
                tmp.parentNode.removeChild(tmp);
        }*/
        showing_grab_bag = true;
    }
    else if(showing_grab_bag){
        //make all ids with course_course.id invisible
        scan = all_courses.keys();
        for(i=0;i<scan.length;i++){
            var value = all_courses.get(scan[i]);
            tmp = document.getElementById("courses_"+value.id);
            if(tmp!=undefined)
                tmp.parentNode.removeChild(tmp);
            if(all_unsched.get(scan[i])==undefined){
                generate_course_drag("unsched_"+value.id, value, false);
            }
        }
        //make all ids with unsched_course.id visible
        /*scan = all_unsched.values();
        for(i=0;i<scan.length;i++){
            generate_course_drag("unsched_"+scan[i].id, scan[i], false);
        }*/
        showing_grab_bag = false;
    }
  }
</script>