<div id="wrapper">
    <div id="side">
        <div id="credit_type" style="padding-top:5px;">
            <% first = true %>
            <% for ct in Course::CREDITTYPES %>
                <% query = "courses.credit_type LIKE '%#{ct[1]}%'" %>
                <% if(@limitors["custom"]!=nil && @limitors["custom"].include?(query)) %>
                    
                <% else %>
                    <% place_order = add_to_limitors(@params, "custom", query, {:do_not_overide=>true, :display=>"credit type: #{ct[0]}"}) %>
                    <% numcourses = Course.find_or_count_by_limitors({:limitors => @limitors, :count_only => true}) %>
                    <% if(numcourses>0) %>
                        <% if(first) %>
                            Credit Types
                            <ul>
                            <% first = false %>
                        <% end %>
                        <li><%= link_to "#{ct[0]} (#{numcourses})", :controller=>"categories", :action=>"index", :limitors => @limitors %></li>
                    <% end %>
                    <% delete_from_limitors(@params, place_order) %>
                 <% end %>
            <% end %>
            </ul>
        </div>
        
        <div id="credit_amount" style="padding-top:5px;">
            <% query = "courses.credits >= 6" %>
            <% if(@limitors["credits"]==nil && (@limitors["custom"]==nil || !@limitors["custom"].include?(query))) %>
                <% first = true %>
                <% 7.times{|i| %>
                    <% if(i==6) %>
                        <% place_order = add_to_limitors(@params, "custom", query, {:do_not_overide=>true, :display=>"credits: 6 or more"}) %>
                    <% else %>
                        <% place_order = add_to_limitors(@params, "credits", i, {:do_not_overide=>true}) %>
                    <% end %>
                    <% numcourses = Course.find_or_count_by_limitors({:limitors => @limitors, :count_only => true}) %>
                    <% if(numcourses>0) %>
                        <% if(first) %>
                            Credit Amount
                            <ul>
                            <% first = false %>
                        <% end %>
                        <li><%= link_to "#{((i==6)? '6 or more' : i)} credits (#{numcourses})", :controller=>"categories", :action=>"index", :limitors=>@limitors %></li>
                    <% end %>
                    <% delete_from_limitors(@params, place_order) %>
                <% } %>
                </ul>
            <% end %>
        </div>
        
        <div id="categories" style="padding-top:5px;">
            <% if(@category.children.size>0) %>
                Categories
                <ul>
            <% end %>
            <% if(@category!=nil) %>
              <% for child in @category.children %>
                <% place_order = add_to_limitors(@params, "parent_id", child.all_children_query_string, {:do_not_add_to_order=>true}) %>
                <% numcourses = Course.find_or_count_by_limitors({:limitors => @limitors, :count_only => true}) %>
                <% if(numcourses>0) %>
                    <li><%= link_to "#{child.name} (#{numcourses})", :controller=>"categories", :action=>"index", :id=>child.id, :limitors=>@limitors, :no_child_search_needed => true %></li>
                <% end %>
              <% end %>
            <% end %>
            <% if(@category.children.size>0) %>
                </ul>
            <% end %>
        </div>
    </div>
    <div class="content" id="content">
        <div id="message"></div>
        <div class="breadcrumbs">
           <%= bread_crumbs(@category, {:include_self_link=>true, :limitors=>@limitors}) %>
        </div>
        <div class="page_bar">
            <% if(@courses!=nil) %><%= will_paginate @courses %><% end %>
        </div>
        <% grab_bag = Schedule.get_or_create_grab_bag(current_user) %>
        <% for course in @courses %>
            <div class="classcontainer">
                <div class="sampleclassschedule">
                    <%= generate_schedule(course.rendezvous) %>
                </div>
                <div class="classinformationcontainer">
                    <div class="titlecredits">
                        <div class="titleprofessor">
                            <div class="title">
                                <%= link_to "#{course.name} #{course.section}: #{course.title}", :controller=>"courses", :action=>"index", :id=>course.id %>
                            </div>
                            <div class="professor">
                                <% if course.teacher != nil %>
                                    <%= link_to "#{course.teacher.name}", :controller=>"teachers", :action=>"index", :id=>course.teacher.id %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <%= course.description %>
                    </div>
                    <%= generate_enrollment_image(course) %>
                    <%= generate_credits_image(course) %>
                    <% in_grab_bag = grab_bag.courses.include?(course.id) %>
                    <div class="<%= (in_grab_bag)? "alreadyinschedule" : "addtoschedule" %>" id="addtoschedule_<%= course.id %>">
                        <% if(in_grab_bag) %>
                            Already in mySchedule
                        <% else %>
                            <%= link_to_remote "Add to mySchedule", :url=>{:controller=>"schedules", :action=>"add_to_grab_bag", :ajax=>"true", :course_id=>course.id}, :html=>{:id=>"add_course_#{course.id}"}, :loading=>"$('add_course_#{course.id}').innerHTML = 'Adding...';$('addtoschedule_#{course.id}').setAttribute('class','alreadyinschedule');", :success=>"$('addtoschedule_#{course.id}').innerHTML = 'Already in mySchedule';", :failure=>"$('add_course_#{course.id}').innerHTML = 'Add to mySchedule';" %>
                        <% end %>
                    </div>
                    <div class="rating">
                        <img src="/images/darkstar.gif"><img src="/images/darkstar.gif"><img src="/images/halfstar.gif"><img src="/images/lightstar.gif"><img src="/images/lightstar.gif">
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>