<div id="wrapper">
    <div id="side">
        <div id="credit_type">
            <% first = true %>
            <% for ct in Course::CREDITTYPES %>
                <% query = "courses.credit_type LIKE '%#{ct[1]}%'" %>
                <% if(@limitors["custom"]!=nil && @limitors["custom"].include?(query)) %>
                    
                <% else %>
                    <% place_order = add_to_limitors(@params, "custom", query, {:do_not_overide=>true, :display=>"credit type: #{ct[0]}"}) %>
                    <% numcourses = Course.find_or_count_by_limitors({:limitors => @limitors, :count_only => true}) %>
                    <% if(numcourses>0) %>
                        <% if(first) %>
                            Credit Types
                            <ul>
                            <% first = false %>
                        <% end %>
                        <li><%= link_to "#{ct[0]} (#{numcourses})", :controller=>"categories", :action=>"index", :limitors => @limitors %></li>
                    <% end %>
                    <% delete_from_limitors(@params, place_order) %>
                 <% end %>
            <% end %>
            </ul>
        </div>
        
        <div id="credit_amount">
            <% query = "courses.credits >= 6" %>
            <% if(@limitors["credits"]==nil && (@limitors["custom"]==nil || !@limitors["custom"].include?(query))) %>
                <% first = true %>
                <% 7.times{|i| %>
                    <% if(i==6) %>
                        <% place_order = add_to_limitors(@params, "custom", query, {:do_not_overide=>true}) %>
                    <% else %>
                        <% place_order = add_to_limitors(@params, "credits", i, {:do_not_overide=>true}) %>
                    <% end %>
                    <% numcourses = Course.find_or_count_by_limitors({:limitors => @limitors, :count_only => true}) %>
                    <% if(numcourses>0) %>
                        <% if(first) %>
                            Credit Amount
                            <ul>
                            <% first = false %>
                        <% end %>
                        <li><%= link_to "#{((i==6)? '6 or more' : i)} credits (#{numcourses})", :controller=>"categories", :action=>"index", :limitors=>@limitors %></li>
                    <% end %>
                    <% delete_from_limitors(@params, place_order) %>
                <% } %>
                </ul>
            <% end %>
        </div>
        
        <div id="categories">
            <% if(@category.children.size>0) %>
                Categories
                <ul>
            <% end %>
            <% if(@category!=nil) %>
              <% for child in @category.children %>
                <% place_order = add_to_limitors(@params, "parent_id", child.all_children_query_string, {:do_not_add_to_order=>true}) %>
                <% numcourses = Course.find_or_count_by_limitors({:limitors => @limitors, :count_only => true}) %>
                <% if(numcourses>0) %>
                    <li><%= link_to "#{child.name} (#{numcourses})", :controller=>"categories", :action=>"index", :id=>child.id, :limitors=>@limitors, :no_child_search_needed => true %></li>
                <% end %>
              <% end %>
            <% end %>
            <% if(@category.children.size>0) %>
                </ul>
            <% end %>
        </div>
    </div>
    <div class="content" id="content">
        <div class="breadcrumbs">
           <%= bread_crumbs(@category, true, @limitors) %>
        </div>
        <% if(@courses!=nil) %><%= will_paginate @courses %><% end %>
        <% for course in @courses %>
            <div class="classcontainer">
                <div class="sampleclassschedule">
                    <%= generate_schedule(course.rendezvous) %>
                </div>
                <div class="classinformationcontainer">
                    <div class="titlecredits">
                        <div class="titleprofessor">
                            <div class="title">
                                <%= link_to "#{course.name}: #{course.title}", :controller=>"courses", :action=>"index", :id=>course.id %>
                            </div>
                            <div class="professor">
                                <% if course.teacher != nil %>
                                    <%= link_to "#{course.teacher.name}", :controller=>"teachers", :action=>"index", :id=>course.teacher.id %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <%= course.description %>
                    </div>
                    <% if course.students_enrolled!=nil && course.enrollment_space!=nil %>
                        <% enroll_frac = course.students_enrolled/course.enrollment_space %>
                        <div class="<%= (enroll_frac < 0.5)? 'classfullness' : ((enroll_frac < 0.75)? 'classfullness semi' : 'classfullness full') %>">
                    <% else %>
                        <div class="classfullness">
                    <% end %>
                        <div class="numerator"><p class="number"><%= (course.students_enrolled!=nil)? course.students_enrolled : "Unavailable" %></p>Enrolled</div>
                        <div class="denominator"><p class="number"><%= (course.enrollment_space!=nil)? course.enrollment_space : "Unavailable" %></p>Possible</div>
                    </div>
                    <div class="credits"><p class="creditsnum"><%= course.credits %><%= (course.variable_credit!=nil)? "-#{course.variable_credit}" : "" %></p>Credits</div>
                    <div id="addtoschedule">
                        <a href=""><img src="/images/addtoschedule.gif" /></a>
                    </div>
                    <div class="rating">
                        <img src="/images/darkstar.gif"><img src="/images/darkstar.gif"><img src="/images/halfstar.gif"><img src="/images/lightstar.gif"><img src="/images/lightstar.gif">
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>