<% def link_subcatagories(cat_id)
    return ""
   end %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= "HuskySchedule: "+title %></title>
    <%= stylesheet_link_tag 'huskyschedule'%>
	<%= javascript_include_tag 'prototype' %>
	<%= javascript_include_tag 'scriptaculous' %>
	<%= javascript_include_tag 'SpryMenuBar'%>
	<!-- calendar_date_select_includes "blue" -->
</head>
<body <%= (controller.controller_name=="buildings")? "onLoad=initialize(); onUnload=GUnload();" : "" %>>

<div id="wrapper">
  <div id="wrapper-header">
    
    <% if flash[:notice]!=nil %><a id="flash" class="flash"><%= flash[:notice] %></a><% end %><% if(current_user != nil && current_user != :false) %><span><strong><%= current_user.name.upcase %></strong></span><%= link_to "LOGOUT", :controller => 'login', :action => 'logout' %><a href="#">SETTINGS </a><% else %><%= link_to "LOGIN", :controller=>"login", :action=>"login" %><% end %><a href="#">HELP</a></div>
    <div id="top_bar">
        
        <div id="apDiv4">
            <table width="958" height="81" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="1007" height="54">
                    <div id="apDiv2">
                      <div id="search"><input type="text" name="search" /><img src="/images/gobutton.png" id="search_go" alt="gobutton" width="42" height="18" /></div>  
                    </div>
                </td>
              </tr>
              <tr>
                <td height="27">
                  <ul id="MenuBar1" class="MenuBarHorizontal">
                    <li id="mb11"><a id="artssciences" class="MenuBarItemSubmenu" href="./category.php?catname=Arts and Sciences"></a>
                      <ul>
                        <li><a href="#">Item 1.1</a></li>
                        <li><a href="#">Item 1.2</a></li>
                        <li><a href="#">Item 1.3</a></li>
                      </ul>
                    </li>
                    <li id="mb12"><a href="./category.php?catname=Engineering" class="MenuBarItemSubmenu" id="engineering"></a><%= link_subcatagories(1) %></li>
                    <li id="mb13"><a href="./category.php?catname=Business" class="MenuBarItemSubmenu" id="business"></a><%= link_subcatagories(2) %></li>
                    <li id="mb14"><a href="./category.php?catname=Law" class="MenuBarItemSubmenu" id="law"></a><%= link_subcatagories(3) %></li>
                    <li id="mb15"><a href="./category.php?catname=Dentistry" class="MenuBarItemSubmenu" id="dentist"></a><%= link_subcatagories(4) %></li>
                    <li id="mb16"><a href="./category.php?catname=Medicine" class="MenuBarItemSubmenu" id="medicine"></a><%= link_subcatagories(5) %></li>
                    <li id="mb17"><a href="./category.php?catname=Architecture" class="MenuBarItemSubmenu" id="arch"></a><%= link_subcatagories(6) %></li>
                    <li id="mb18"><a href="./category.php?catname=Education" class="MenuBarItemSubmenu" id="edu"></a><%= link_subcatagories(7) %></li>
                    <li id="mb19"><a href="./category.php?catname=Forest Resources" class="MenuBarItemSubmenu" id="forest"></a><%= link_subcatagories(8) %></li>
                    <li id="mb110"><a href="./category.php?catname=Information School" class="MenuBarItemSubmenu" id="info"></a><%= link_subcatagories(9) %></li>
                    <li id="mb111"><a href="./category.php?catname=Nursing" class="MenuBarItemSubmenu" id="nurse"></a><%= link_subcatagories(10) %></li>
                    <li id="mb112"><a href="./category.php?catname=Fishery Sciences" class="MenuBarItemSubmenu" id="fish"></a><%= link_subcatagories(11) %></li>
                    <li id="mb113"><a href="./category.php?catname=Other" class="MenuBarItemSubmenu" id="other"></a><%= link_subcatagories(12) %></li>
                  </ul>
                </td>
              </tr>
            </table>
         </div>
    </div>
    <!--<div id="logo"><img src="/images/logo.png" alt="" /></div>-->
    <div class="clear"></div>
    <script type="text/javascript">
	   var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1");
    </script>