<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Website design by Ryan Hankins -->
<!-- Started: February 1, 2009 -->
<!-- Last updated: February 6, 2009 -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <link rel="SHORTCUT ICON" href="<%= url_for(:controller=>"/", :only_path=>false) %>/images/favicon.gif" />
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
   <title><%= title %></title>
   <%= stylesheet_link_tag 'default_style.css'%>
   <%= stylesheet_link_tag 'map.css'%>
</head>


<body onload="stripe()" onunload="GUnload()">

<div id="container">
<div id="supertop">Ryan Hankins :: <a href="">Account</a> :: <a href="">Logout</a></div>
<div id="head">

<form name="search" action="" method="post">
<ul class="topbar">
<li id="space"></li>
<li id="home"><a href="index.html"><span class="normal"> </span></a></li>
<li id="space2"></li>
<li id="classes"><a href="<%= url_for :controller=>"categories", :action=>"index" %>"><span class="normal" title="Current class schedule with reviews" <%= (controller.controller_name == "Courses" || controller.controller_name == "categories")? "id='me'" : "" %>>Classes</span></a></li>
<li id="teachers"><a href="<%= url_for :controller=>"teachers", :action=>"index" %>" title="Search for and rate instructors and professors."><span class="normal" <%= (controller.controller_name == "teachers")? "id='me'" : "" %>>Teachers</span></a></li>
<li><a href="<%= url_for :controller=>"buildings", :action=>"map" %>" title="Navigate the UW Seattle campus with ease."><span class="normal" <%= (controller.controller_name == "buildings")? "id='me'" : "" %>>Map</span></a></li>
<li><a href="<%= url_for :controller=>"schedules", :action=>"index" %>" title="Organize a custom class schedule."><span class="normal" <%= (controller.controller_name == "schedule")? "id='me'" : "" %>>mySchedule</span></a></li>
<li id="space3"></li>
<li id="search"><input type="text" title="Search" value="Search" /></li>
<li id="gofish"><input type="submit" class="submit" value="Go" onMouseOver="this.className='submit_hover';" onMouseOut="this.className='submit';" /></li>
<li id="space"></li>
</ul>
</form>
</div>
