<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Website design by Ryan Hankins -->
<!-- Started: February 1, 2009 -->
<!-- Last updated: February 6, 2009 -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <link rel="SHORTCUT ICON" href="<%= url_for(:controller=>"/", :only_path=>false) %>/images/favicon.gif" />
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
   <title><%= title %></title>
   <%= stylesheet_link_tag 'default_style.css'%>
   <%= stylesheet_link_tag 'map.css'%>
   <%= javascript_include_tag 'prototype' %>
   <%= javascript_include_tag 'scriptaculous' %>
</head>


<% if((controller.controller_name=="buildings" && (controller.action_name=="map" || controller.action_name=="index")) || (controller.controller_name=="course" && controller.action_name=="name")) %>
    <body onunload="GUnload(); if(streetview!=null){streetview.remove();}">
<% elsif(controller.controller_name=="schedules") %>
    <body onunload="unload();">
<% else %>
    <body>
<% end %>

<div id="container">
    <div id="supertop">
        <% if current_user!=nil && !current_user.tmp_user %>
            <%= current_user.login %> :: <a href="">Account</a> :: <%= link_to "Logout", :controller=>"login", :action=>"logout", :next_page=>request.parameters %>
        <% else %>
            <a href="javascript:show_hide_login_screen();" id="login_button">Login</a> :: <%= link_to "Signup", :controller=>"login", :action=>"signup" %>
        <% end %>
        <div id="login_popup" style="display:none;position:absolute;background-color:rgb(153, 153, 204);border:2px #552277 solid;padding: 4px 8px 4px 8px;"><a href="javascript:show_hide_login_screen();">close(X)</a><%= render :partial=>"login/login_form", :locals=>{:next_page=>request.parameters} %></div>
        <script>
            showing_login_screen = false;
        
            function show_hide_login_screen(){
                if(!showing_login_screen){
                    var pos_arr = findPos($("login_button"));
                    $("login_popup").style.top = pos_arr[1]+20+"px";
                    $("login_popup").style.left = (pos_arr[0]-25)+"px";
                    $("login_popup").show();
                }
                else{
                    $("login_popup").hide();
                }
                showing_login_screen = !showing_login_screen;
            }
            
            function findPos(obj) {
	           var curleft = curtop = 0;
	           if (obj.offsetParent) {
	               do {
			         curleft += obj.offsetLeft;
			         curtop += obj.offsetTop;
			       } while (obj = obj.offsetParent);
			   }
			   return [curleft,curtop];
            }
            
            function check_search_text_focus(id) {
                if($(id).value == "Search"){
                    $(id).value = "";
                    $(id).style.color = "black";
                }
            }
            
            function check_search_text_blur() {
                if($(id).value == ""){
                    $(id).style.color = "#999999";
                    $(id).value = "Search";
                }
            }
        </script>
    </div>
    <div id="head">

    <%= form_tag(:controller=>"search", :action=>"index") %>
            <ul class="topbar">
            <li id="space"></li>
            <li id="home"><a href="index.html"><span class="normal"> </span></a></li>
            <li id="space2"></li>
            <li id="classes"><a href="<%= url_for :controller=>"categories", :action=>"index" %>"><span class="normal" title="Current class schedule with reviews" <%= (controller.controller_name == "Courses" || controller.controller_name == "categories")? "id='me'" : "" %>>Classes</span></a></li>
            <li id="teachers"><a href="<%= url_for :controller=>"teachers", :action=>"index" %>" title="Search for and rate instructors and professors."><span class="normal" <%= (controller.controller_name == "teachers")? "id='me'" : "" %>>Teachers</span></a></li>
            <li><a href="<%= url_for :controller=>"buildings", :action=>"map" %>" title="Navigate the UW Seattle campus with ease."><span class="normal" <%= (controller.controller_name == "buildings")? "id='me'" : "" %>>Map</span></a></li>
            <li><a href="<%= url_for :controller=>"schedules", :action=>"index" %>" title="Organize a custom class schedule."><span class="normal" <%= (controller.controller_name == "schedules")? "id='me'" : "" %>>mySchedules</span></a></li>
            <li id="space3"></li>
            <li id="search"><%= text_field_tag("search_text", "Search", :id=>"search_text", :onfocus=>"check_search_text_focus('search_text')", :onblur=>"check_search_text_blur('search_text')") %></li>
            <li id="gofish"><input type="submit" class="submit" value="Go" onMouseOver="this.className='submit_hover';" onMouseOut="this.className='submit';" /></li>
            <li id="space"></li>
            </ul>
        </form>
    </div>
