<div id="wrapper">
    <div id="side">
        <p>RATING:</p>
        <% if(!@rating_val.kind_of?(Fixnum)) %>
            <div class="selected">All <%=  %></div>
        <% else %>
            <%= link_to("View All #{}", :controller=>"course_reviews", :action=>"index", :id=>@course.id) %>
        <% end %>
        <% if(@rating_val == CourseReview::RATING_VERYPOOR) %>
            <div class="selected">Very Poor <%=  %></div>
        <% else %>
            <%= link_to("Very Poor #{}", :controller=>"course_reviews", :action=>"index", :id=>@course.id, :rating_val=>CourseReview::RATING_VERYPOOR) %>
        <% end %>
        <% if(@rating_val == CourseReview::RATING_POOR) %>
            <div class="selected">Poor <%=  %></div>
        <% else %>
            <%= link_to("Poor #{}", :controller=>"course_reviews", :action=>"index", id=>@course.id, :rating_val=>CourseReview::RATING_POOR) %>
        <% end %>
        <% if(@rating_val == CourseReview::RATING_AVERAGE) %>
            <div class="selected">Average <%=  %></div>
        <% else %>
            <%= link_to("Average #{}", :controller=>"course_reviews", :action=>"index", :id=>@course.id, :rating_val=>CourseReview::RATING_AVERAGE) %>
        <% end %>
        <% if(@rating_val == CourseReview::RATING_GOOD) %>
            <div class="selected">Good <%=  %></div>
        <% else %>
            <%= link_to("Good #{}", :controller=>"course_reviews", :action=>"index", :id=>@course.id, :rating_val=>CourseReview::RATING_GOOD) %>
        <% end %>
        <% if(@rating_val == CourseReview::RATING_EXCELLENT) %>
            <div class="selected">Excellent <%=  %></div>
        <% else %>
            <%= link_to("Excellent #{}", :controller=>"course_reviews", :action=>"index", :id=>@course.id, :rating_val=>CourseReview::RATING_EXCELLENT) %>
        <% end %>
        <p>QUARTER:</p>
        <p>TEACHER:</p>
        <%= generate_schedule(@course.rendezvous, :by_hour=>true) %>
    </div><!--side-->
    <div class="content" id="content">
        <div class="breadcrumbs"><%= bread_crumbs(@course, true) %> > Student Reviews</div>
        <p><strong><%= @course.name %></strong></p>
        Reviews are not necessarily based on the specific course above, but rather the same course offered possibly a different year and or quarter.
        <% for course_review in @course_reviews %>
            <tr>
                <td><b><% if(course_review.author!=nil) %><%= course_review.author.login %><% else %>Anonymous<% end %></b><br/>Taken: <%= "#{Quarter.quarter_disp_name(course_review.quarter_taken)}, #{course_review.year_taken}" %><br/>Taught By: <% if(course_review.teacher!=nil) %><%= link_to course_review.teacher.name, :controller=>"teachers", :action=>"index", :id=>course_review.teacher.id %><% else %><%= "Unknown" %><% end %></td>
                <td>
                    <table>
                        <tr>
                            <td><%= star_ratings(course_review.rating, size="24x24") %> <b><%= course_review.review_name %></b><td>
                            <td><%= course_review.created_at %></td>
                        </tr>
                        <tr>
                            <td colspan="2" ><b>Pros:</b><%= course_review.pros %><br/><b>Cons:</b><%= course_review.cons %><br/><b>Other Thoughts:</b><%= course_review.other_thoughts %></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <hr>
            <% end %>
    </div><!--content-->
</div><!--wrapper-->