<% if(@course!=nil || @category!=nil) %>
<div id="wrapper">
    <div id="side">
        <div id="rating">
            <% if(@review_limitors["rating"]==nil) %>
                <% first = true %>
                <% for rat in CourseReview::RATING_TYPES %>
                    <% place_order = add_to_limitors(@params, "rating", rat[1], {:limitors_name=>:review_limitors, :do_not_overide=>true}) %>
                    <% numcourse_revs = CourseReview.find_or_count_by_limitors({:review_limitors => @review_limitors, :limitors_name=>:review_limitors, :count_only => true}) %>
                    <% if(numcourse_revs>0) %>
                        <% if(first) %>
                            Rating
                            <ul>
                            <% first = false %>
                        <% end %>
                        <li><%= link_to "#{rat[0]} (#{numcourse_revs})", :controller=>"course_reviews", :action=>"index", :review_limitors=>@review_limitors, :limitors_name=>:review_limitors %></li>
                    <% end %>
                    <% delete_from_limitors(@params, place_order, {:limitors_name=>:review_limitors}) %>
                <% end %>
                </ul>
            <% end %>
        </div>
        
        <div id="teacher">
            <% if(@review_limitors["teacher_id"]==nil) %>
                <% first = true %>
                <% for cr in @unique_teachers %>
                    <% place_order = add_to_limitors(@params, "teacher_id", cr.teacher_id, {:limitors_name=>:review_limitors, :do_not_overide=>true}) %>
                    <% numcourse_revs = CourseReview.find_or_count_by_limitors({:review_limitors => @review_limitors, :limitors_name=>:review_limitors, :count_only => true}) %>
                    <% if(numcourse_revs>0) %>
                        <% if(first) %>
                            Teacher
                            <ul>
                            <% first = false %>
                        <% end %>
                        <li><%= link_to "#{cr.teacher.name} (#{numcourse_revs})", :controller=>"course_reviews", :action=>"index", :review_limitors=>@review_limitors, :limitors_name=>:review_limitors %></li>
                    <% end %>
                    <% delete_from_limitors(@params, place_order, {:limitors_name=>:review_limitors}) %>
                <% end %>
                </ul>
            <% end %>
        </div>
        
        <div id="specific_quarter">
            <% if(@review_limitors["specific_quarter"]==nil) %>
                <% first = true %>
                <% for cr in @unique_quarters %>
                    <% place_order = add_to_limitors(@params, "specific_quarter", "#{cr.quarter_taken}..#{cr.year_taken}", {:limitors_name=>:review_limitors, :do_not_overide=>true}) %>
                    <% numcourse_revs = CourseReview.find_or_count_by_limitors({:review_limitors => @review_limitors, :limitors_name=>:review_limitors, :count_only => true}) %>
                    <% if(numcourse_revs>0) %>
                        <% if(first) %>
                            Quarter
                            <ul>
                            <% first = false %>
                        <% end %>
                        <li><%= link_to "#{Quarter.quarter_disp_name(cr.quarter_taken)} #{cr.year_taken} (#{numcourse_revs})", :controller=>"course_reviews", :action=>"index", :review_limitors=>@review_limitors, :limitors_name=>:review_limitors %></li>
                    <% end %>
                    <% delete_from_limitors(@params, place_order, {:limitors_name=>:review_limitors}) %>
                <% end %>
                </ul>
            <% end %>
        </div>
        
    </div><!--side-->
    <div class="content" id="content">
        <div class="breadcrumbs"><% if(@course!=nil) %><%= bread_crumbs(@course, {:include_self_link=>true}) %><% else %><%= bread_crumbs(@category, {:include_self_link=>true, :include_x_links=>false, :limitors=>{"course_name"=>@course_name, :order=>["course_name"]}}) %><% end %> > <%= @course_name %> Reviews <%= bread_crumbs(nil, {:review_limitors=>@review_limitors, :limitors_name=>:review_limitors, :base_url_hash=>{:controller=>"course_reviews", :action=>"index"}}) %></div>
        <p><strong><%= @course_name %></strong></p>
        Reviews are not necessarily based on the specific course above, but rather the same course offered possibly a different year and or quarter.
         <% if(@course_reviews!=nil) %><%= will_paginate @course_reviews %><% end %>
        <% for course_review in @course_reviews %>
            <tr>
                <td><b><% if(course_review.author!=nil) %><%= course_review.author.login %><% else %>Anonymous<% end %></b><br/>Taken: <%= "#{Quarter.quarter_disp_name(course_review.quarter_taken)}, #{course_review.year_taken}" %><br/>Taught By: <% if(course_review.teacher!=nil) %><%= link_to course_review.teacher.name, :controller=>"teachers", :action=>"index", :id=>course_review.teacher.id %><% else %><%= "Unknown" %><% end %></td>
                <td>
                    <table>
                        <tr>
                            <td><%= star_ratings(course_review.rating, size="24x24") %> <b><%= course_review.review_name %></b><td>
                            <td><%= course_review.created_at %></td>
                        </tr>
                        <tr>
                            <td colspan="2" ><b>Pros:</b><%= course_review.pros %><br/><b>Cons:</b><%= course_review.cons %><br/><b>Other Thoughts:</b><%= course_review.other_thoughts %></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <hr>
            <% end %>
    </div><!--content-->
</div><!--wrapper-->
<% end %>